# Dev
/test
/.vs
/.vscode

# Docker
/Dockerfile
/docker-compose.yml
/.dockerignore

# Project related
/LICENCE
/README.md
/.eslintignore
/.eslintrc.js
/.pretierrc.js
/.gitignore
/mongodb
/postman.json
/node_modules
/dist
/src/dev-env.yml