version: '3.8'

services:
  postgres_server:
    image: postgres:latest
    container_name: postgres_server
    environment:
      POSTGRES_PASSWORD: pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - public_network

networks:
  public_network:
    driver: bridge

volumes:
  postgres_data:
