name: CodeChat Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get package version
        id: get_version
        run: echo "::set-output name=version::$(jq -r .version package.json)"

      - name: Debug Pre-Build Information
        run: |
          docker run --rm node:latest node -v
          docker run --rm node:latest npm -v
          docker run --rm node:latest git --version

      - name: Build and tag Docker image
        run: |
          docker build . --file Dockerfile --tag codechat/api:${{ steps.get_version.outputs.version }}
          docker tag codechat/api:${{ steps.get_version.outputs.version }} codechat/api:latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: codechat/api:develop
